<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/style.ejs') %>
    <title>MovieHub</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <!-- center this image within the column -->
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_CTaizi.json" background="transparent"
                    speed="1" style="width: 550px; height: 550px;" loop autoplay>
                </lottie-player>
            </div>
        </div>
    </div>
</body>

</html>