<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <%- include('partials/style.ejs') %>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: auto;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #cccccc
        }
    </style>
    <title>Movie List</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFA31A;">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <a class="nav-item navbar-brand" href="/movies">
                <img src="https://ik.imagekit.io/ckb21lc9cd/logo_2pUlNzLGmP.png" width="160" height="50"
                    class="d-inline-block align-top" alt="moviehub">
            </a>
            <li class="nav-item active">
                <h2>
                    <b>
                        <a class="nav-link" href="/login"> Login </a>
                    </b>
                </h2>
            </li>
            <li class="nav-item active">
                <h2>
                    <b>
                        <a class="nav-link" href="/logout"> Logout </a>
                    </b>
                </h2>
            </li>
        </ul>
    </nav>
    <br><br>
    <form class="form-inline my-2 my-lg-0" action="/movies" method="GET">
        <input class="form-control mr-sm-2" type="search" name="movie" placeholder="Search Movie by title or genre"
            aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>

    <center>
        <a href="/movies/add">
            <button type="button" class="btn btn-outline-info">Create Movie</button>
        </a>
    </center>
    <br>


    <div style="overflow-x:auto;">
        <table class="table">
            <thead class="bg-info">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Trailer</th>
                    <th scope="col">Poster</th>
                    <th scope="col">Director</th>
                    <th scope="col">Released</th>
                    <th scope="col">Actors</th>
                    <th scope="col">Languages</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Synopsis</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < result.length; i++) { %>
                <tr>
                    <td><%= result[i].id %></td>
                    <td><%= result[i].title %></td>
                    <td><%= result[i].trailer %></td>
                    <td><%= result[i].poster %></td>
                    <td><%= result[i].director %></td>
                    <td><%= result[i].released %></td>
                    <td><%= result[i].actor %></td>
                    <td><%= result[i].languages %></td>
                    <td><%= result[i].genre %></td>
                    <td><%= result[i].synopsis %></td>
                    <td>
                        <a href="/movies/edit/<%= result[i].id %>"><button type="button"
                                class="btn btn-outline-primary">Update</button></a>
                        <br><br>
                        <a href="/movies/<%= result[i].id %>"><button type="button"
                                class="btn btn-outline-danger">Delete</button></a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</body>

</html>